body {
  padding-top: 60px;
  background: #000;
}

.fileupload-buttonbar {
  text-align: center;
}

.video-container {
  color: #fff;
  text-align: center;
  margin: 20px 0 20px 0;
}

.wistia_embed {
  height: 349px;
  width: 620px; 
  margin: 0 auto;
}

.panel-body ul li {
   color: #333;
}

.panel--upload-target {
    border: #d6d6d6 dashed 2px;
    border-radius: 3px;
    padding: 22px 0;
    background: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
}

form h1 {
  color: #fff;
  text-align: center;
}

.fade {
  margin-top: 15px;
}


